<%= form_with url: student_create_path, method: 'post' do |f| %>
     <%= f.text_field :name, id: 'name', placeholder: '名前', value: ''  %>
     <%= f.number_field :age, id: 'age', placeholder: '年齢', value: ''  %>
     <%= f.telephone_field :tel, id: 'tel', placeholder: '電話番号', value: ''  %>
     <%= f.radio_button :gender, :male %>
     <%= f.label :gender, "男性", {value: :male, style: "display: inline-block;"} %>
     <%= f.radio_button :gender, :female %>
     <%= f.label :gender, "女性", {value: :female, style: "display: inline-block;"} %>

     <%= f.submit '作成' %>
     
     <p><%= f.collection_select :student_new, Student.all, :id, :name, include_blank: '選択してください' %></p>
    
<% end %>
<p><a href="<%= root_path %>">トップページへ戻る</a></p>